<h1>To-do's</h1>
<hr>

<form action="/todo" method="POST">
	<label for="todo">To-do</label>
	<input placeholder="Insira o to-do aqui" required type="text" class="form-control col-6" id="todo" name="todo"
		aria-describedby="todo">
	<button type="submit" class="btn btn-primary mt-4">Adicionar TODO</button>
</form>